* {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: Arial;
}
.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background: #3498db;
  width: 100%;
  height: 98px;
}
header .listMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  margin-top: 60px;
}
section#Part1 .wrapper {
  margin: 0 auto;
}
section#Part2 .wrapper h1 {
  color: #2c3e50;
  margin: 0 0 10px 0;
}
section#Part2 .wrapper .highlight {
  display: flex;
  justify-content: space-between;
}
section#Part2 .wrapper .highlight li {
  position: relative;
}
section#Part2 .wrapper .highlight li p {
  position: absolute;
  top: 70%;
  left: 0;
  color: #fff;
  background: rgba(219,91,71,0.9);
  padding: 10px;
  text-transform: uppercase;
}
section#Part3 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
section#Part3 .wrapper h1 {
  color: #2c3e50;
  margin: 0 0 10px 0;
}
section#Part3 .wrapper .destaques-item {
  margin: 0 0 24px 0;
}
section#Part3 .wrapper p {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  background: #f1f1f1;
  margin: -5px 0 0 0;
}
section#Part3 .wrapper p .title {
  color: #498bbd;
  font-size: 16px;
  font-weight: bold;
}
section#Part3 .wrapper .ads {
  align-self: center;
}
section#Part3 .wrapper .ads h3 {
  font-size: 12px;
  color: #c6c6c6;
  text-align: right;
}
section#Part4 .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#Part4 .wrapper .list .title,
section#Part4 .wrapper .ultimas-noticias .title,
section#Part4 .wrapper .ultimosDest .title {
  font-size: 18px;
}
section#Part4 .wrapper .list {
  flex: 1;
}
section#Part4 .wrapper .list li {
  border-bottom: 1px solid #ccc;
}
section#Part4 .wrapper .list li p {
  margin: 25px 0;
}
section#Part4 .wrapper .list li p .title {
  color: #498bbd;
  font-weight: bold;
}
section#Part4 .wrapper .ultimas-noticias {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}
section#Part4 .wrapper .ultimas-noticias img {
  flex-grow: 0;
  flex-shrink: 0;
}
section#Part4 .wrapper .ultimas-noticias .title {
  color: #e74c3c;
  font-weight: bold;
}
section#Part5 {
  background: #3498db;
}
section#Part5 .wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  align-items: center;
}
section#Part5 .wrapper p {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
footer {
  background: #2c3e50;
}
footer .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .wrapper .logoFooter {
  width: 100%;
  max-width: 132px;
  padding: 20px;
}
footer .wrapper p {
  color: #fff;
  width: 100%;
  max-width: 650px;
  font-size: 12px;
}
