@font-face {
  font-family: 'fontello';
  src: url('../../../font/fontello.eot?32301526');
  src: url('../../../font/fontello.eot?32301526#iefix') format('embedded-opentype'),
       url('../../../font/fontello.woff2?32301526') format('woff2'),
       url('../../../font/fontello.woff?32301526') format('woff'),
       url('../../../font/fontello.ttf?32301526') format('truetype'),
       url('../../../font/fontello.svg?32301526#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32301526#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;


}
 
.icon-up:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */