//
// Etc
// --------------------------------------------------


// Logo image header
.folha-logo {
	margin-top: 35px;
}

.folha-slogan {
	color: #fff;
	margin-top: 65px;
}

.img-responsive {
	width: 98%;
}

.clear-both {
	clear: both;
}


.featured-mini {
	padding: 10px;
	position: relative;	

	h4 {
		background-color: $featured-mini-legend-bg;
		bottom: 10px;
		color: $featured-mini-legend-color;
		left: 10px;
		padding: 5px 10px;
		position: absolute;
	}
}

.featured {
	padding: 10px;

	& > div > div {
		padding: 10px;
	}

	h3 {
		color: $featured-legend-title-color;
		margin: 5px 0;
	}
	h4 {
		color: $featured-legend-comment-color;
		margin: 3px 5px;
	}
}

//Carousel
.carousel {
	margin:50px auto 20px auto;	
	max-width: $carousel-maxwidth;
	max-height: $carousel-maxheight;
	
	position: relative;	
	overflow: hidden;

	.carousel-arrows {		
		height: $carousel-arrows-size;
		position: absolute;
		top: 40%;
		width: 100%;
		z-index: 2;

		//
		//Buttons in ´_buttons.scss´
		//
		button {
			margin: 0px 4px;
		}
	}

	.carousel-indicator {
		margin-top: 15px;

		//
		//Buttons in ´_buttons.scss´
		//
		button {
			margin:0 5px;
		}
	}

	.carousel-slides {		
		overflow: hidden;
		-ms-transition: -ms-transform 2s;
			-webkit-transition: -webkit-transform 2s;
				transition: transform 2s;
		white-space: nowrap;
	}

	.carousel-slide {
		display: inline-block;
		padding: 0 #{$carousel-arrows-size / 2};
		position: relative;
		z-index: 1;		
	}

	
	.carousel-legend {		
		bottom: 20px;
		left: 60px;
		position: absolute;

		h4 {
			background-color: $carousel-title-bg;
			color: $carousel-color;
			display: inline-block;
			margin:10px 0;
			padding: 5px 15px;
		}

		h1 {
			color: $carousel-color;
			margin:10px 0;
		}
	}
}