//
// Media
// --------------------------------------------------


//== md
//
@media (min-width: $media-col-md){
	@include col("md");	

	.hidden-md { display: none; }
}



//== sm
//
@media (min-width: $media-col-sm) and (max-width: $media-col-md) {
	@include col("sm");	

	.hidden-sm { display: none; }

	.btn-like-responsive {
		height: 40px !important;
		width: 40px !important;

		span {
			display: none;
		}
	}
}



//== xs
//
@media (max-width: $media-col-xs) and (max-width: $media-col-sm) {
	@include col("xs");	

	.hidden-xs { display: none; }

	.carousel {
		.carousel-slide {
			padding: 0 0;
		}


		.carousel-legend {
			bottom: 2px;
			left:0;
			
			h4 {
				font-size: 12px;
			}
		}	
	}

	


}