body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.ir {
  text-indent: -999999em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content-page {
  margin: auto;
  max-width: 96%;
  padding-bottom: 1px;
  padding-top: 1px;
  width: 100%;
}

.title-section {
  font-family: "Helvetica";
  font-size: 1.25em;
  color: #2C3E50;
  margin-bottom: 10px;
}

.header {
  width: 100%;
  min-height: 115px;
  background-color: #3498db;
}

.menu-icon {
  background-image: url("../img/desktop/menu-icon.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  display: inline-block;
}

.logo-folha {
  background-image: url("../img/desktop/logo.png");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 214px;
  height: 83px;
  display: inline-block;
  margin-left: 20%;
}

.title-header {
  font-size: 12px;
  color: #ffffff;
  margin: 0 auto;
  display: inline-block;
}

.section-carrossel {
  width: 100%;
  background-color: #ecf0f1;
}

.carrosel {
  width: 100%;
}

.carrosel .carrosel-item {
  width: 100%;
  height: 450px;
}

.carrosel .carrosel-item img {
  width: 100%;
  height: 100%;
}

.dots-carrossel {
  list-style: none;
  display: block;
  text-align: center;
}

.dots-carrossel li {
  display: inline;
}

.dots-carrossel li button {
  width: 10px;
  height: 11px;
  background-color: #9a9a9a;
  margin: 0 5px;
  border-radius: 50%;
  border: 0;
  font-size: 0;
  outline: none;
  cursor: pointer;
}

.dots-carrossel .slick-active button {
  background-color: #29a8e9;
}

.slick-prev, .slick-next {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
}

.slick-prev {
  background-image: url("../img/desktop/arrow_left-icon.png");
  top: 273px;
}

.slick-next {
  background-image: url("../img/desktop/arrow_right-icon.png");
  float: right;
  top: -267px;
}

.section-top {
  width: 100%;
}

.highlights-center {
  margin: 0 3% !important;
}

.highlights {
  width: 31%;
  margin: 0 auto;
  display: inline-block;
}

.highlights .image-top {
  width: 360px;
  height: 216px;
}

.highlights .subtitle-top {
  background-color: rgba(231, 76, 60, 0.7);
  position: relative;
  top: -35px;
  padding: 5px 11px;
  display: inline;
}

.highlights .subtitle-top .subtitle-top-txt {
  font-family: "Helvetica";
  font-size: 0.75em;
  color: #ffffff;
}

.section-divoltis {
  margin-top: 60px;
  width: 100%;
}

.highlights-center {
  margin: 0 3% !important;
}

.itens-divoltis {
  width: 68%;
  float: left;
  display: inline-block;
}

.itens-divoltis .divoltis-porris {
  width: 45%;
  margin: 0 auto;
  display: inline-block;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 35px;
  margin-right: 4.5%;
}

.itens-divoltis .divoltis-porris .image-top {
  width: 360px;
  height: 216px;
}

.itens-divoltis .divoltis-porris .subtitle-divoltis {
  font-family: "Helvetica";
  font-size: 0.875em;
  color: #2C3E50;
  margin: 0 0 35px 0;
}

.itens-divoltis .divoltis-porris .subtitle-divoltis span {
  margin: 4px 0;
  display: block;
  text-transform: uppercase;
  color: #3498db;
  font-weight: bold;
}

.sidebar {
  width: 32%;
  display: inline-block;
  padding-bottom: 105px;
}

.sidebar .image-publicidade {
  background-image: url("../img/desktop/ads-300x600.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 301px;
  height: 589px;
  display: block;
  margin: 0 auto;
}

.sidebar .txt-sidebar {
  font-size: 0.625em;
  font-family: "Helvetica";
  color: #cccccc;
  position: relative;
  float: right;
  top: -18px;
  right: 33px;
}

.sections-articles {
  width: 100%;
}

.paisis {
  width: 30.5%;
  display: inline-block;
}

.title-paises {
  font-family: "Helvetica";
  font-size: 1.625em;
  color: #3498db;
}

.list-paises {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.list-paises li {
  padding: 22px 0;
  border-bottom: 1px solid #cccccc;
}

.list-paises li a {
  font-family: "Helvetica";
  font-size: 0.9375em;
  line-height: 1.33333em;
  color: #2C3E50;
  text-decoration: none;
}

.pirulita {
  width: 30.5%;
  display: inline-block;
}

.list-itens {
  text-decoration: none;
  list-style: none;
  padding: 0;
  display: inline-block;
}

.list-itens li span {
  width: 166px;
  height: 166px;
}

.nam-liber {
  background-image: url("./img/desktop/se_pirulita-01.png");
}

.section-backtop {
  width: 100%;
  min-height: 48px;
  background-color: #3498db;
}

.section-backtop .content-page {
  padding-top: 15px;
}

.back-top {
  font-family: "Helvetica";
  font-size: 1.125em;
  background-image: url("../img/desktop/arrow_top-icon.png");
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 1.375em;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
}

footer {
  width: 100%;
  min-height: 92px;
  background-color: #2c3e50;
}

footer .content-page {
  padding: 20px;
}

.logo-footer {
  width: 118px;
  height: 41px;
  background-image: url("../img/desktop/logo_footer.png");
  background-size: 100%;
  margin-left: 8%;
  display: inline-block;
  vertical-align: middle;
}

.text-footer {
  font-family: "Helvetica";
  font-size: 0.75em;
  color: #ffffff;
  width: 60%;
  margin-left: 7%;
  display: inline-block;
  vertical-align: middle;
}

.text-footer a {
  color: #ffffff;
}
