@import "./colors";

$button-size: 2.5rem;

.header {
	background-color: $color-4;

	.header__container {
		align-items: center;
		display: flex;
		margin: auto;
		max-width: 1200px;
		padding: 0px 1rem;
	}

	.header__button {
		background: none;
		border: none;
		display: flex;
		padding: 0px;
		margin-right: auto;

		& > svg {
			color: $color-1;
			height: $button-size;
			width: $button-size;
		}
	}

	.header__logo {
		display: flex;
		margin-left: -$button-size;
		margin-right: auto;
		margin-top: 0.5rem;

		img {
			height: 60px;
			width: 140px;
		}

		.header__logo__subtitle {
			color: rgba($color: $color-3, $alpha: 0.9);
			display: none;
			font-size: 0.875rem;
			font-weight: normal;
			margin: auto 1rem 0.75rem 0.5rem;

			@media (min-width: 576px) {
				display: block;
			}
		}
	}

	.header__social-medias {
		display: none;

		@media (min-width: 576px) {
			display: flex;
		}

		.header__social-media {
			align-items: center;
			background-color: #fff;
			border-radius: 3px;
			box-shadow: 0px 0px 4px #666;
			display: flex;
			padding: 0.375rem;

			& + .header__social-media {
				margin-left: 0.75rem;
			}

			> svg {
				$size: 1rem;
				height: $size;
				width: $size;
			}

			span {
				display: none;
				font-size: 0.65rem;
				font-weight: bold;
				letter-spacing: 1px;
				margin: 0px 0.75rem 0px 0.5rem;
				text-transform: uppercase;

				@media (min-width: 768px) {
					display: block;
				}
			}

			&.header__social-media--facebook {
				color: #3b5998;
			}
			&.header__social-media--twitter {
				color: #1da1f2;
			}
		}
	}
}
