@import "./colors";

.highlights {
	display: grid;
	gap: 1.5rem;

	.highlight {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 45vw;
		background-position: center;
		background-size: cover;
		padding: 1rem 0px;

		.highlight__title {
			background-color: rgba($color: $color-2, $alpha: 0.8);
			color: #fff;
			display: inline-block;
			font-size: 1rem;
			font-weight: normal;
			margin: 0px;
			padding: 0.375rem 1rem;
			text-transform: uppercase;
		}

		&:nth-child(1) {
			background-image: url(../img/highlight-01.png);

			.highlight__title {
				min-width: 40%;
			}
		}
		&:nth-child(2) {
			background-image: url(../img/highlight-02.png);

			.highlight__title {
				min-width: 50%;
			}
		}
		&:nth-child(3) {
			background-image: url(../img/highlight-03.png);

			.highlight__title {
				min-width: 65%;
			}
		}
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);

		.highlight {
			min-height: 180px;
		}
	}

	@media (min-width: 992px) {
		.highlight {
			min-height: 250px;

			.highlight__title {
				min-width: auto !important;
			}
		}
	}
}
