@import "configs"

.icon
	background-image: url('../img/sprite-icons.png')
body
	background: $perola
	font-family: $Open-Sans
	header
		background: $light-blue
		.flex-header
			height: 100px
			display: flex
			justify-content: center
			align-items: center
			#navbar-main, #box-logo, #box-social-media
				width: 33.5%
				display: flex
				flex-direction: row

			#navbar-main
				justify-content: flex-start
				position: relative
				width: 15%
				.icon-menu
					font-size: 0px
					+size(50px 50px)
					background: url(../img/menu-icon.png) no-repeat center
				.menu-nav
					list-style: none
					display: none
					padding: 10px 20px 
					width: 400px
					background: $dark-blue
					position: absolute
					top: 90px
					left: 0
					a 
						color: $white
			#box-logo 
				justify-content: center
				width: 60%
				.content-logo
					display: flex
					align-items: flex-end
					justify-content: center
					color: $white
			#box-social-media	
				justify-content: flex-end
				width: 30%
				.social-medias
					li
						display: inline-block
						margin: 0 15px
						a 
							padding: 10px 5px 
							border-radius: 5px
							background: $perola
							color: $blue
							font-size: 14px
							i 
								margin: 0 5px
			+tablet
				height: auto
	main
		background: $perola
		section
			&#banner-top
				margin: 50px auto 20px
				.item 
					position : relative
					img
						display: block 
						margin: 0 auto
						width: 100%
						max-width: 100%
						height: auto
					.text-content 
						top: -150px
						position: relative		
						margin: 0px 30px
						max-width: 350px
						h3 
							padding:  5px 15px
							color: $white
							background : $blue 
							display: inline-block
						h4 
							color: $white
							font-size: 20px
							font-weight: 600
			&#mini-articles
				margin: 30px auto
				.item-mini-article
					width: 100%
					height: auto
					max-width: 100%
					img 
						margin: 0 auto
						display: block
						width: 100%
						max-width: 100%