@import "configs"

.icon
	background-image: url('../img/sprite-icons.png')
body
	background: $perola
	font-family: $Open-Sans
	header
		background: $light-blue
		.flex-header
			height: 100px
			display: flex
			justify-content: center
			align-items: center
			+tablet
				justify-content: flex-start
			#navbar-main, #box-logo, #box-social-media
				width: 33.5%
				display: flex
				flex-direction: row

			#navbar-main
				justify-content: flex-start
				position: relative
				width: 15%
				.icon-menu
					font-size: 0px
					+size(50px 50px)
					background: url(../img/menu-icon.png) no-repeat center
				.menu-nav
					list-style: none
					display: none
					padding: 10px 20px 
					width: 400px
					background: $dark-blue
					position: absolute
					top: 90px
					left: 0
					a 
						color: $white
			#box-logo 
				justify-content: center
				width: 60%
				.content-logo
					display: flex
					align-items: flex-end
					justify-content: center
					color: $white
					+tablet 
						p 
							display: none
			#box-social-media	
				justify-content: flex-end
				width: 30%
				+tablet
					display: none
				.social-medias
					li
						display: inline-block
						margin: 0 15px
						a 
							padding: 10px 5px 
							border-radius: 5px
							background: $perola
							color: $blue
							font-size: 14px
							i 
								margin: 0 5px
			+tablet
				height: auto
	main
		background: $perola
		section
			&#banner-top
				margin: 50px auto 20px
				.item 
					position : relative
					img
						display: block 
						margin: 0 auto
						width: 100%
						max-width: 100%
						height: auto
					.text-content 
						top: -150px
						position: relative		
						margin: 0px 30px
						max-width: 350px
						h3 
							padding:  5px 15px
							color: $white
							background : $blue 
							display: inline-block
						h4 
							color: $white
							font-size: 20px
							font-weight: 600
			&#mini-articles
				margin: 30px auto
				.item-mini-article
					h3
						display: inline-block
						position: relative
						top: -50px
						background: $salmon
						color: $white
						font-weight: 600
						text-transform: uppercase
						padding: 5px 20px
						min-width: 120px
						font-size: 14px
				img 
					margin: 0 auto
					width: 100%
			&#middle-article
				margin: 30px auto
				.item-middle-article
					background: $white
					margin: 0px auto 30px
					min-height: 320px
					img
						margin: 0 auto
						width: 100%
					.info-article
						padding: 10px 0px 
						.title-article
							color: $blue
							font-size: 16px 

			&#publicity
				margin: 30px auto
				+desktop-medium
					display: none
				h5
					margin: 30px auto 0
					text-align: right
				img 
					float: right
					+tablet
						float: none
						margin: 0 auto
			&#group-news
				margin: 30px auto
					
				.list-news
					.title-section	
						color: $blue
					.item-news 
						padding: 20px 0
						border-bottom: 1px solid #ccc
				.list-news-image
					display: block
					.title-section	
						color: $salmon
					.item-news
						display: flex
						margin: 20px auto
						.info-news
							margin-left: 15px
							h4 
								color: $salmon
			&#publicity-mobile
				display: none
				+desktop-medium
					display: block
					margin: 30px auto
					img
						display: block
						margin: 0 auto
	.scroll-top
		background: $blue
		padding: 10px 0
		a 
			color: $white
			font-weight: 600
			text-transform: uppercase

	footer
		background: $dark-blue
		color: $white
		font-weight: 100
		.logo-footer
			padding: 10px 0 
			+tablet
				display: none
		.copyright
			padding: 20px 0 