#carrossel{
    margin-top: 75px;
    
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background: white;
        color: $azul-marinho;
        height: 60px;
        width: 60px;
        padding: 15px;
        border-radius: 50%;
    }
    
    .carousel-control-next, .carousel-control-prev{
        opacity: 1;
    }
    
    .carousel-control-next{
        right: -85px;
    }
    
    .carousel-control-prev{
        left: -85px;
    }
    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        bottom: -44px;
        background-color: #9b9b9b;
    }
    
    .carousel-indicators .active {
        background-color: $azul-claro;
    }
    
    .carousel-caption{
        text-align: left;
        left: 30px;
        
        h3{
            background-color: $azul-claro;
            padding-left: 18px;
            padding-top: 5px;
            padding-bottom: 3px;
            font-weight: 500;
            display: block;
            max-width: 290px;
            margin-bottom: 18px;
            font-size: 1.05em;
            font-weight: 500;
        }
        h2{
            font-size: 28px;
            font-weight: 600;
        }
    }
    
    @include media-breakpoint-down(sm) {
        
        margin-top: 45px;
        
        .carousel-control-next-icon, .carousel-control-prev-icon{
            height: 36px;
            width: 36px;
            padding: 10px;
            border-radius: 50%;
        }
        .carousel-control-next{
            right: -40px;
        }

        .carousel-control-prev{
            left: -40px;
        }
        
        .carousel-indicators li {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            bottom: -30px;
        }
    }
    
    @include media-breakpoint-down(xs) {
        
        margin-top: 15px;
        
        .carousel-control-next-icon, .carousel-control-prev-icon{
            display: none;
        }
        .carousel-control-next{
            right: 0;
        }

        .carousel-control-prev{
            left: 0;
        }
        
        .carousel-caption{
            z-index: 9999;
            position: relative;
            text-align: left;
            margin-top: -40px;
            margin-left: -30px;
            
            h3{
                background-color: $azul-claro;
                padding-left: 18px;
                padding-top: 5px;
                padding-bottom: 3px;
                font-weight: 500;
                display: block;
                max-width: 290px;
                margin-bottom: 24px;
                font-size: 1.0em;
                font-weight: 500;
            }
            h2{
                color: $azul-marinho;
                font-size: 1.5em;
            }
            span{
                display: none;
            }
        }
        
        .carousel-indicators li {
            bottom: -0px;

        }
    }
}