#divoltis{
    
    
    .article-card{
        background-color: $background-card;
        margin-top: 10px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $cinza-hr;
        
        .title{
            margin-top: 15px;
            color: $azul-medio;
        }
        
        .subtitle{
            color: $azul-marinho;
        }
        
        .img-constraint{
            display: flex;
        }
        
        img {
            max-width: 100%;
            max-height: 215px;
            object-fit: cover;
            width: 100%;
        }
    }
    
    .publicidade{
        text-align: center;
        img{
            position: relative;
            top: -19px;
        }
    }
    
    .no-back{
        background-color: transparent;
    }
    
    .texto-publicidade{
        position: relative;
        bottom: 22px;
        text-align: right;
        padding-right: 24px;
        color: grey;
        font-size: .8em;
    }
}