body {
    background-color: $background-color;
    
    @include media-breakpoint-down(md) {
        background-color: $azul-claro; 
    }
    
    @include media-breakpoint-down(sm) {
        background-color: $cinnabar; 
    }
}