body {
    background-color: $background-color;
    font-family: Helvetica, 'Arial', sans-serif;
    box-sizing: border-box;
    
    @include media-breakpoint-down(md) {
        padding-top: 85px;
    }
    
    p{
        
        @include media-breakpoint-down(md) {
            font-size: .9rem;
        }
        
        @include media-breakpoint-down(sm) {
            font-size: .8rem;
        }
    
    }
}
