body {
    background-color: $background-color;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
    
    @include media-breakpoint-down(md) {
        background-color: $azul-medio; 
    }
    
    @include media-breakpoint-down(sm) {
        background-color: $cinnabar; 
    }
}