nav {    
    margin: 0 auto;
    max-width: 1300px;
    height: 115px;
    background-color: $azul-claro;
    padding: 40px;
    color: $background-color;
    z-index: 9999;
    
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        height: 85px;
        padding-top: 30px;
    }
    
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
        height: 65px;
        .menu-item{
            max-width: 36px;
        }

    }
    
    .container{
        @include media-breakpoint-down(md){
            max-width: initial;
        }
    }
    
    .heading {
        
        margin-left: -30px;
        
        #logo{
            position: relative;
            margin-bottom: -40px;
            margin-top: -23px;
        }
        
        p{
            font-size: 1rem;
            position: absolute;
            top: 25px;
            margin-left: 10px;
            color: #d0f3ff;
        }
        
        @include media-breakpoint-down(md){
            #logo{
                margin-bottom: -25px;
                margin-top: -19px;
                max-width: 180px;
            }

            p{
                top: 20px;
                margin-left: 10px;
                font-size: .9em;
                white-space: nowrap;
            }
        }
        
        @include media-breakpoint-down(sm){
            #logo{
                max-width: 150px;
                margin-bottom: -23px;
                margin-top: -17px;
            }
            p{
                top: 20px;
                margin-left: 10px;
                font-size: .75rem;
            }
        }
        
    }
    
    .social{
        @include align-vertical-center();
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        
        .botao-social{
            @include align-vertical-center();
            @include box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.3));
            border-radius: 5px;
            background: white;
            height: 30px;
            width: 90px;
            font-size: .65em;
            letter-spacing: -.5px;
            
            @include media-breakpoint-down(sm) {
                -webkit-justify-content: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                padding: 5px;
                text-align: center;
                margin-right: 15px;
            }
            
            
            &:first-child{
                margin-right: 30px;
                @include media-breakpoint-down(md) {
                    margin-right: 15px;
                }
            }
            span{
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
        
        #fb{
            color: #335190; //this part could have been better
        }
        
        #tt{
            color: #00aff3;
        }
        
        svg{
            font-size: 1.75em;
            margin: 0 8px 0 5px;
            @include media-breakpoint-down(sm) {
                margin: 0;
            }
        }
    }
}