#topnews{
    margin-top: 80px;
    .topcard{
        
        margin-top: 10px;
        
        p{
            position: relative;
            display: inline-block;
            min-width: 90px;
            top: -60px;
            color: white;
            background-color: rgba($cinnabar, 0.8);
            padding-top: 10px;
            padding-bottom: 8px;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 1em;
            font-size: .9em;
            
        }
        
        img{
            width: 100%;
        }
    }
    
    @include media-breakpoint-down(sm) {
        margin-top: 45px;
        .col-sm-4{
            padding-right: 0;
        }  
    }
    
    @include media-breakpoint-down(xs) {
        .col-sm-4{
            padding-right: 15px;
        } 
    }
}