$azul-marinho: #2C3E50;
$cinnabar: #E74C3C;
$background-color: #ECF0F1;
$azul-claro: #3498DB;
$azul-medio: #2980B9;

@mixin align-vertical-center(){
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

@mixin box-shadow($shadow... ) {
     -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
     box-shadow: $shadow;
    
}