<div class="footer-div">
    <!--superior-->
    <div class="footer-top">
        <div class="container">
            <p><a href="#top">voltar ao topo</a></p>
        </div>
    </div>

    <!--inferior-->
    <div class="footer-bottom">
        <div class="container">
            <!--logo-->
            <a href="index.html"><img src="/img/logo_footer.png" alt="folha" class="footer-logo"></a>

            <!--copyright-->
            <p>Copyright Folha de S.Paulo. Todos os direitos reservados. É proibida a reprodução do conteúdo desta página em qualquer meio de comunicação, eletrônico ou impresso, sem autorização escrita da Folhapress <a href="mailto:pesquisa@folhapress.com.br" title="clique aqui para enviar email: pesquisa@folhapress.com.br">(pesquisa@folhapress.com.br)</a></p>
        </div>
    </div>
</div>