<div class="container">
    <!--header-->
    <div class="header-div">
        <!--menu-->
        <div class="header-menu"></div>

        <!--folha-->
        <div class="header-folha">
            <!--logo-->
            <h1><a href="index.html"><img src="/img/logo.png" alt="folha" class="header-logo"></a></h1>

            <!--frase-->
            <h4 class="header-text">O site de teste para <strong>novos webs</strong></h4>
        </div>

        <!--midia-->
        <nav class="header-midia">
            <ul>
                <!--facebook-->
                <a href="https://www.facebook.com/folhadesp/" alt="facebook" target="_blank">
                    <li>&nbsp;</li>
                </a>

                <!--twitter-->
                <a href="https://twitter.com/folha?lang=pt" alt="twitter" target="_blank">
                    <li>&nbsp;</li>
                </a>
            </ul>
        </nav>
    </div>
</div>