/* ==== NAV PAGE ==== */
.nav 
	background-color $color-one
	width 100%
	height 120px
	
.nav-wrapper 
	height 100%
	flexbox()
	flexdirection(colunm)
	justifycontent(space-between)
	-webkit-align-items center
	
	> .nav-brand 
		height 100%
		
.connect
	font-size: 0.7em
	text-align center
	text-transform uppercase
	display: inline-block
	margin-left $spacing-unit-small
	
	@media (min-width $screen-large) 
		margin-left $spacing-unit-large
		
	> .icon
		font-size 1.1rem

	&.--facebook
		color #4267B2
	&.--twitter
		color #1DA1F2
	
/* ==== HEADER PAGE ==== */
.banner-wrapper
	position relative
	width 100%
	margin-top $spacing-unit-large
	
	@media (min-width $screen-large)
		margin-top $spacing-unit-large * 1.5
		
	> .indicator
		text-align center
		
		@media (min-width $screen-small)
			margin-top $spacing-unit-large
		
		> .item
			display inline-block
			background-color #999999
			width 10px 
			height 10px
			border-radius 50%
			
		> .item + .radio + .item 
			margin-left $spacing-unit-small 
		
		> .radio 
			display none
	
		> .radio:checked + .item
			background-color $color-one	
			
	> .control //Controles de next e prev
		position absolute
		top 38%
		background-color #FFFFFF
		padding $spacing-unit-medium ($spacing-unit-medium * 1.5)  
		border-radius 50%
		shadow()
		
		&.--prev 
			left -37.5px
		
		&.--next 
			right -37.5px
					
.banner //Banner
	position relative
	
	> .image
		display block
		width 100%
		position relative
		background-color #F1F1F1
		background-position center
		z-index -1
		cover()
		
		height 215px
		
		@media (min-width $screen-small) and (max-width $screen-large)
			height 310px
		
		@media (min-width $screen-large)
			height 450px
			
		> .header-group
			position absolute
			bottom $spacing-unit-medium
			width 100%
			@media (min-width $screen-small) and (max-width $screen-large)
				left $spacing-unit-medium
			
			@media (min-width $screen-large)
				bottom $spacing-unit-large * 1.5
				left $spacing-unit-large * 1.5
			
			> .title + .description
				margin-top $spacing-unit-medium
				
			> .description
				font-weight: 700
				width 60%
	
	> .description
		padding-top $spacing-unit-medium
		padding-bottom $spacing-unit-medium
		font-weight: 700 
		
/* ==== TOP LIST ==== */
.top-list
	> .item
		position relative
		
		> .title
			position absolute
			bottom $spacing-unit-medium * 2
			
		> .image	
			background-color #F1F1F1
			background-position center
			margin-bottom $spacing-unit-medium
			height 215px
			cover()
		
		
