html 
	font-size 14px
	@media (min-width $screen-medium)
		font-size 16px
body 
	overflow-x hidden
	background-color $color-five
	font-family Helvetica
	color $color-three
	
	@media (max-width $screen-medium-max)
		padding-top 120px;