/* ==== LOGO ==== */
.brand 
	margin-top 25px
	line-height 0
	
	@media (min-width $screen-large)
		margin-top 8px 
	
	
	> .image
		@media (min-width $screen-large)
			height 98px
			
	
	> .slogan	
	> .image
		display inline-block
		vertical-align middle 
	
	> .slogan	
		padding-left $spacing-unit-medium	
		color $color-five
	
/* ==== BOTÕES ==== */
.button 
	shadow()
	padding 12px 12px
	border-radius $spacing-unit-small
	
	&.--default
		background-color #FFFFFF
		color #color-three
		

/* ==== BANNER SLIDE ==== */
.banner
	width 100%
	position relative
	display block

/* ===== HEADERS ===== */
.title 
	font-size 1.6rem
	font-weight 400
	text-transform lowercase
	
	
	&.--text-primary 
		color $color-one
	
	&.--text-secondary
		color $color-two
	
	
	&.--background
		color #FFFFFF
		padding  $spacing-unit-small ($spacing-unit-small * 2)
		display inline
		
		&.--primary 
			background-color rgba($color-one, .9)
		
		&.--secondary
			background-color rgba($color-two, .9)
		

		&.--medium
		&.--large
			display block
				
		&.--medium
			@media (max-width $screen-medium-max)
				width 33.33%
		
			@media (min-width $screen-medium) and (max-width $screen-large-max)
				width 66.66%
				
		&.--large
			@media (max-width $screen-medium-max)
				width 45%
				
			@media (min-width $screen-medium) and (max-width $screen-large-max)
				width 75%
				
		&.--auto
			padding-right $spacing-unit-large * 2
			
				
	&.--light
	&.--background
		font-size 1rem
		text-transform uppercase
		
.description 
	font-size 1.8rem
	line-height 2rem
	color #FFFFFF
	
	&.--dark
		color $color-three
	

			