/* ==== LOGO ==== */
.brand 
	margin-top 40px
	line-height 0
	
	> .slogan	
	> .image
		display inline-block
		vertical-align middle 
	
	> .slogan	
		padding-left $spacing-unit-medium	
		color $color-five
	
/* ==== BOTÕES ==== */
.button 
	shadow()
	padding 12px 12px
	border-radius $spacing-unit-small
	
	&.--default
		background-color #FFFFFF
		color #color-three
			