/* ==== CORES ==== */
$color-one = #3498DB
$color-two = #E74C3C
$color-three = #2C3E50
$color-four = #2980B9
$color-five = #ECF0F1

/* ==== ESPAÇAMENTOS ==== */
$spacing-unit-small = 5px
$spacing-unit-medium = $spacing-unit-small * 3
$spacing-unit-large = $spacing-unit-medium * 2


/* ==== MEDIDAS DISPOSITIVOS ==== */
$screen-xsmall = 480px
$screen-small = 768px
$screen-medium = 992px
$screen-large = 1200px

$screen-xsmall-max = ($screen-xsmall - 1)
$screen-small-max = (screen-small - 1)
$screen-medium-max = ($screen-medium - 1)
$screen-large-max = ($screen-large - 1)