/* ==== FERRAMENTAS PARA DISPLAY FLEX ==== */
flexbox()
	display -webkit-flex
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex
	
justifycontent(value)
	-webkit-justify-content value 
	justify-content value 
	
flexdirection(value)
	-webkit-flex-direction value
	flex-direction value 

/* ==== FERRAMENTAS PARA SOMBRA ==== */
shadow()
	-webkit-box-shadow 0px 2px 5px 0px rgba(0,0,0,0.2)
	-moz-box-shadow 0px 2px 5px 0px rgba(0,0,0,0.2)
	box-shadow 0px 2px 5px 0px rgba(0,0,0,0.2)

/* ==== FERRAMENTAS PARA BACKGROUND ==== */
cover()
	background-size cover
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover