.container 
	width 100%
	max-width: 1200px
	margin-right auto
	margin-left auto
	padding $spacing-unit-medium
	
	@media (min-width $screen-medium)
		padding $spacing-unit-medium $spacing-unit-large

	
.hidden 
	display none !important
	
.hidden-xsmall 
	@media (max-width $screen-xsmall-max)
		display none !important
		
.hidden-small 
	@media (max-width $screen-small-max)
		display none !important

.hidden-medium 
	@media (max-width $screen-medium-max)
		display none !important
	
.hidden-large 
	@media (min-width $screen-large)
		display none !important
		