/* ==== HELPERS DE HIDE ==== */
.hidden 
	display none !important
	
.hidden-xsmall 
	@media (max-width $screen-xsmall-max)
		display none !important
		
.hidden-small 
	@media (max-width $screen-small-max)
		display none !important

.hidden-medium 
	@media (max-width $screen-large-max)
		display none !important

.hidden-large 
	@media (min-width $screen-large)
		display none !important
		
/* ==== HELPERS DE VISIBLE ==== */
.visible-xsmall 
	@media (min-width $screen-xsmall-max)
		display none !important
		
.visible-small 
	@media (max-width $screen-small)
		display none !important

.visible-medium 
	@media (max-width $screen-medium)
		display none !important

.visible-large 
	@media (max-width $screen-large)
		display none !important
		
/* ==== HELPERS PARA FLOATS ==== */
.right 
	float right
	
.left
	float left

.center 
	margin-right auto
	margin-left auto
	
.vwrapper
	display table
	
	> .valign
		display table-cell
		vertical-align middle
		
/* ==== HELPERS PARA ALINHAMENTOS DE TEXTO ==== */
.text-left
	text-align left

.text-right
	text-align right

.text-center
	text-align center

		