.section-carrossel {
  width: 100%;
}

.carrosel {
  width: 100%;

  .carrosel-item {
    width: 100%;
    height: 450px;
    outline: none;

    img {
      width: 100%;
      height: 100%;
    }

    figcaption {
      padding: 8px 70px 8px 20px;
      display: inline-block;
      background-color: $color-blue-light;
      font-family: $name-font;
      font-size: em(14px, $fontsize-context);
      font-weight: 600;
      color: #ffffff;
      position: relative;
      top: -113px;
      left: 3%;
      text-transform: uppercase;
    }

    h1{
      font-size: em(22px, $fontsize-context);
      font-weight: 600;
      color: #ffffff;
      position: relative;
      top: -100px;
      left: 3%;
      width: 50%;
    }
  }
}

.dots-carrossel {
  list-style: none;
  display: block;
  text-align: center;

  li {
    display: inline;

    button {
      width: 10px;
      height: 11px;
      background-color: #9a9a9a;
      margin: 0 5px;
      border-radius: 50%;
      border: 0;
      font-size: 0;
      outline: none;
      cursor: pointer;
    }
  }

  .slick-active {
    button {
      background-color: #29a8e9;
    }
  }
}

.slick-prev, .slick-next {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10
}

.slick-prev {
  background-image: url('../img/desktop/arrow_left-icon.png');
  top: 273px;
}

.slick-next {
  background-image: url('../img/desktop/arrow_right-icon.png');
  float: right;
  top: -267px
}
