.section-divoltis {
  margin-top: 2%;
  width: 100%;
}

.itens-divoltis {
  width: 68%;
  float: left;
  display: inline-block;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  .divoltis-porris{
    width: 45%;
    margin: 0 auto;
    display: inline-block;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 35px;
    margin-right: 4.5%;

    @media only screen and (max-width: 480px) {
      width: 100%;
    }

    .image-top {
      width: 100%;
      height: auto;
    }

    .subtitle-divoltis {
      font-family: $name-font;
      font-size: em(14px, $fontsize-context);
      color: $color-grey;
      margin: 0 0 35px 0;

      @media only screen and (max-width: 1160px) {
        font-size: em(12px, $fontsize-context);
      }

      span {
        margin: 4px 0;
        display: block;
        text-transform: uppercase;
        color: $color-blue-light;
        font-weight: bold;
      }
    }
  }
}

.sidebar {
  width: 32%;
  display: inline-block;
  padding-bottom: 105px;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  .image-publicidade {
    background-image: url('../img/desktop/ads-300x600.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 301px;
    height: 589px;
    display: block;
    margin: 0 auto;

    @media only screen and (max-width: 1160px) {
      width: 228px;
      height: 456px;
    }
  }

  .txt-sidebar {
    font-size: em(10px, $fontsize-context);
    font-family: $name-font;
    color: #cccccc;
    position: relative;
    float: right;
    top: -18px;
    right: 33px;
  }
}
