.section-divoltis {
  margin-top: 60px;
  width: 100%;
}

.highlights-center {
  margin: 0 3% !important;
}

.itens-divoltis {
  width: 68%;
  float: left;
  display: inline-block;

  .divoltis-porris{
    width: 45%;
    margin: 0 auto;
    display: inline-block;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 35px;
    margin-right: 4.5%;

    .image-top {
      width: 360px;
      height: 216px;
    }

    .subtitle-divoltis {
      font-family: $name-font;
      font-size: em(14px, $fontsize-context);
      color: $color-grey;
      margin: 0 0 35px 0;

      span {
        margin: 4px 0;
        display: block;
        text-transform: uppercase;
        color: $color-blue-light;
        font-weight: bold;
      }
    }
  }
}

.sidebar {
  width: 32%;
  display: inline-block;
  padding-bottom: 105px;

  .image-publicidade {
    background-image: url('../img/desktop/ads-300x600.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 301px;
    height: 589px;
    display: block;
    margin: 0 auto;
  }

  .txt-sidebar {
    font-size: em(10px, $fontsize-context);
    font-family: $name-font;
    color: #cccccc;
    position: relative;
    float: right;
    top: -18px;
    right: 33px;
  }
}
