.header {
  width: 100%;
  min-height: 115px;
  background-color: $color-blue-light;

  .content-page {
    padding-top: 31px;
  }
}

.menu-container {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;

  .menu-icon {
    width: 40px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;

    .icon {
      font-size: em(40px, $fontsize-context);
      color: #2c3e50;
    }
  }
}

.logo-container {
  display: inline-block;
  width: 45%;
  text-align: center;

  .logo-folha {
    background-image: url('../img/desktop/logo.png');
    background-size: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 214px;
    height: 83px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
  }

  .title-header {
    font-family: $name-font;
    font-size: em(14px, $fontsize-context);
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1%;
    margin-left: 1%;
  }
}

.social {
  display: inline-block;
  height: 100%;
  width: 20%;
  margin-top: 15px;
  float: right;

  li {
    display: inline;
    list-style: none;
    margin-left: 6%;
    margin-top: 38%;

    a {
      padding: 9px 10px;
      box-shadow: 2px 2px 2px #2980b9;
      border-radius: 5px;
      background: #ffffff;
      text-decoration: none;

      .icon {
        font-size: em(22px, $fontsize-context);
        display: inline-block;
        vertical-align: middle;
      }

      .text-social {
        font-family: $name-font;
        font-size: em(10px, $fontsize-context);
        text-transform: uppercase;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .facebook {
      color: #36528f;
    }

    .twitter {
      color: #00adf2;
    }
  }
}
