.section-top {
  width: 100%;
  overflow: hidden;
}

.highlights{
  width: 30.5%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;

  @media only screen and (max-width: 480px) {
    width: 100%;
  }

  .image-top {
    width: 100%;
    height: auto;
  }

  .subtitle-top {
    background-color: rgba(231, 76, 60, 0.7);
    position: relative;
    top: -35px;
    padding: 1% 4%;
    display: inline;

    .subtitle-top-txt {
      font-family: $name-font;
      font-size: em(12px, $fontsize-context);
      color: #ffffff;
    }
  }
}

.highlights-center {
  margin: 0 3%;

  @media only screen and (max-width: 480px) {
    margin: 0 auto;
  }
}
