//
// Generic
// --------------------------------------------------

* {
	box-sizing: border-box;
}


//´<body>´
body {
	margin: $body-margin;
}


//´<ul>´
ul {
	list-style-type: none;
	margin: 0;
	padding:0;	
}