//
// Utility classes
// --------------------------------------------------


//Containers
.container {	
	margin-left: $container-margin;
	margin-right: $container-margin;
	padding-left: $container-padding;
	padding-right: $container-padding;	
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;	
}



//Class
.display-inline { display: inline-block; }