//
// Variables
// --------------------------------------------------



//== Typography
//
$h1: 								24px;
$h2: 								20px;
$h3: 								18px;
$h4: 								14px;
$h5: 								12px;
$p: 								11px;




//== Body '<body>'
//
$body-bg: 							#ECF0F1 !default;
$body-margin: 						0px !default;
$text-color:						#2C3E50 !default;
$text-size:							14px !default;




//== Header
//
$nav-bg: 							#3498DB !default;
$nav-color:							#fff !default;
$nav-height:						114px !default;
$nav-menu-bg:						#2C3E50 !default;
$nav-text-size:						$text-size !default;

//Items height
$nav-item-height:					$nav-height !default;



//== Containers
//
$container-padding:					15px !default;
$container-margin:					auto !default;




//== Carousel
//
$carousel-color:					#fff !default;
$carousel-title-bg:					#348FCC !default;
$carousel-title-size:				$h4 !default;
$carousel-comment-size:				$h1 !default;

//Indicators
$carousel-indicator-color:			#9A9A9A !default;
$carousel-indicator-active-color:	#1FA4E9 !default;

//Arrows
$carousel-arrows-size:				60px !default;




//== Excerpt
//
$excerpt-border-width:				1px !default;
$excerpt-border-color:				#D3D3D3 !default;