* 
    position relative
    list-style none
    margin 0
    padding 0

    
content-center()
    width 100%
    max-width 1140px
    margin 0 auto

img
    max-width 100%
    height auto

body
    font-family Arial
    background #ecf0f1
    
.wrapper 
    content-center()

header
    background #3498db
    width 100%
    height 98px
    
    .wrapper
        display flex
        justify-content space-between
        align-items center
        
        .logo
            display flex
            align-items center
            color #fff
            
            .slogan
                margin 20px 0 0 0
    
section
    margin-top 60px
    
    &#Part1
        .wrapper
            margin 0 auto
            
            .banner
                position relative
                
            .text-banner
                position absolute
                top 100%
                left 0%
                transform: translate(0%,-110%)
                padding 16px 32px
                
                .title-banner
                    color #fff
                    background rgba(50,141,201, 0.9)
                    padding 8px
                    text-transform uppercase
                    font-size 17px
                    margin 15px 0
                
                p
                    color #fff
                    font-size 20px
                    font-weight bold

    &#Part2
        .wrapper
            h1
                color #2c3e50
                margin 0 0 10px 0
            
            .highlight
                display flex
                justify-content space-between
                
                li
                    position relative
                    
                    p
                        position absolute
                        top 70%
                        left 0
                        color #fff
                        background rgba(219,91,71, 0.9)
                        padding 10px
                        text-transform uppercase

    &#Part3
        .wrapper
            display flex
            justify-content space-between
            align-items flex-end
            
            h1
                color #2c3e50
                margin 0 0 10px 0
            
            .destaques-item
                margin 0 0 24px 0
                
            p
                padding 20px 0
                border-bottom 1px solid #ccc
                font-size 14px
                background #f1f1f1
                margin -5px 0 0 0

                .title
                    color #498bbd
                    font-size 16px
                    font-weight bold

            .ads
                align-self center
                
                h3
                    font-size 12px
                    color #c6c6c6
                    text-align right
                    
    &#Part4
        .wrapper
            display flex
            justify-content space-between
            
            .list
                width 500px

                li
                    border-bottom 1px solid #ccc
                    
                    p
                        margin 25px 0
                        font-size 14px
                
                        .title
                            color #498bbd
                            font-weight bold
                            font-size 17px
            
            .ultimas-noticias
                display flex
                flex-direction row
                align-items center
                flex-wrap wrap
                justify-content space-around

                .noticias-item
                    display flex
                    align-items center
                    margin 3px
                    padding 10px 0 0 0
                    
                    img
                        flex-grow 0
                        flex-shrink 0

                    p
                        font-size 14px
                        padding-left 10px

                    .title
                        font-size 17px
                        color #e74c3c
                        font-weight bold
                    
                    .noticias-title
                        padding-left 10px;
                        color #e74c3c
                    
    &#Part5
        background #3498db
        
        .wrapper
            display flex
            justify-content flex-end
            width 100%
            height 50px
            align-items center
            
            p
                color #ffffff
                text-transform uppercase
                font-weight bold
                
    @media screen and (max-width: 1040px)
        &#Part3
            .wrapper
                justify-content space-around

                .ads
                    display none


footer
    background #2c3e50
    .wrapper
        display flex
        justify-content flex-start
        align-items center
        
        .logoFooter
            width 100%
            max-width 132px
            padding 20px
            
        p
            color #ffffff
            width 100%
            max-width 650px
            font-size 12px