* 
    position relative

    
content-center()
    width 100%
    max-width 1200px
    margin 0 auto

img
    width 100%
    height auto
    
.wrapper 
    content-center()

header
    background #4ec3ff
    width 100%
    height 50px